[2020-06-24 14:13] yarikoptic opened #4 "Load overrides in main.js instead of needing to rerun python script"
Someone verse in JS and a bit in jquery needs to move this Python code

https://github.com/datalad-datasets/ohbm2020-posters/blob/gh-pages/tools/make_page.py#L63

to somewhere around

https://github.com/datalad-datasets/ohbm2020-posters/blob/gh-pages/assets/js/main.js#L439

That code should update records loaded from https://github.com/datalad-datasets/ohbm2020-posters/blob/gh-pages/posters.json w

[2020-06-24 16:46] yarikoptic opened #12 "Make CI to test that PR doesn't change posters.json but changes posters-override.json"
and that the script runs without failing...

[2020-06-24 18:29] effigies commented on #12
Additional check: values in `posters-override` aren't duplicates of those in `posters`.

[2020-06-24 18:34] yarikoptic opened #20 "Provide more guidance about how to submit a PR with changes"
Probably in README.md.  Could also point to how edit `posters-overrides.json` directly on github.

[2020-06-24 18:36] jaetzel commented on #20
[OHBM2020_Poster1930_Etzel_b.pdf](https://github.com/datalad-datasets/ohbm2020-posters/files/4827285/OHBM2020_Poster1930_Etzel_b.pdf)

[2020-06-24 22:32] yarikoptic commented on #20
oh.... I wonder if it would stay here... added meanwhile in 3006368211fb1ce33dda1bc2240ac88fd09c5299

[2020-06-25 03:34] rmarkello opened #31 "Adding abstract info to search?"
Would there be any way to add abstract info to the page such that people could use e.g., keyword searches (think like, 'dopamine' or 'fMRI') that would query the abstract, but the abstract wouldn't necessarily be displayed in the table?

I _think_ I can scrape the abstracts for a good portion of the posters if there's interest and that would be at all useful, but there's no real point if there's n

[2020-06-25 12:59] sofievdbos commented on #20
I'm working on that one & I'll add a PR soon. 🎉

[2020-06-25 13:49] effigies opened #35 "Mark posters that are active"
A nice JS hack would be to determine if the current time is during one of the poster session windows, and highlight the even posters during the first hour and the odd posters during the second hour.

Could encode something like:

[code]

[2020-06-25 13:50] sofievdbos commented on #20
Checking before doing a PR:

That's not the case anymore? EDIT: I thought you meant the `PDF`. However, you referred to the Jitsi room.

The Extension link 1) allows you to schedule Jitsi Meetings & 2) provides calendar integrations to schedule meetings for meet.jit.si site. I don't think you need it to share your desktop (at least I don't need it), which is why I commented it for now.

[2020-06-25 13:51] yarikoptic commented on #31
I was thinking about something like that too: for each poster to extract a bag of words, prune some which are present in e.g. >50% of posters (all the common words), and add to json.  The only concern -- growing size.  We might want to produce a separate .json and add some JS powered dropbox to flip between loading default and "detailed" .json .

[2020-06-25 13:53] effigies opened #36 "Mark posters with number of current participants"
It should be possible, in principle, for a bot to "join" rooms to determine whether or not anybody is present and how many active participants there are. This would allow people to replicate their usual determination of whether they want to visit a poster based on the number of people crowding around.

[2020-06-25 13:55] yarikoptic opened #37 "Adding "on demand" loading of a poster preview"
now that we have access to PDFs (I will soon populate git-annex of this repo with them) I wondered if it would be of any benefit to generate preview pngs for all of them, and then may be make them load/shown somehow, e.g. have a PREVIEW icon next to PDF with JS which would load up and show that png when hovered over, and disappear when moved away.

I am not feeling strongly about benefit of such f

[2020-06-25 13:58] nicholst opened #38 "Allow keyword search somehow?"
I just created [this CSV file](https://www.dropbox.com/s/rb238gu0k3tlmng/Keywords.csv?dl=0) of all of the key words for each abstract for my own use.

Not sure if it's possible to integrate somehow, but thought I'd throw it your way.

Bash scratching below
[code]

[2020-06-25 13:58] yarikoptic commented on #20
I have just spotted that too -- will implement for posters (PDFs) as well now.

[2020-06-25 14:00] yarikoptic commented on #20
Correct about that added functionality!  I guess either jitsi app itself might have become better and not needing extensions to share desktop, or it is OS dependent (in my case it is Debian GNU/Linux).  I have not tested recently on a fresh browser installation/account.  Feel welcome to adjust wording to make it more informative and more factually correct ;)

[2020-06-25 14:02] effigies commented on #38
Adding a small-font tag list underneath each line would be useful at least from a `Ctrl-F`. Not sure how easy it would be to add it as a filter in search.

[2020-06-25 14:21] yarikoptic commented on #36
I was thinking along a similar line... looked into a possible API to just query room from outside but found none (without using the jitsi library). I also worried to not cause a notable impact on the meet.jit.si -- 2000 rooms is quite a number to monitor.

[2020-06-25 14:22] yarikoptic commented on #36
If tried for the next year -- then we could have our own jitsi server deployment, and then it would be feasible to perform such queries "locally" on the server.

[2020-06-25 14:24] effigies commented on #36
True. Was thinking something like phantomjs to render the DOM might work. @satra and I started playing yesterday but didn't get very far. (At least, I didn't.)

And I think to put a fine point on what you were saying, if anybody does dive into this, we need to be careful to proxy this check somewhere, so that we don't have 2000 people pinging 2000 Jitsi rooms.

[2020-06-25 14:38] yarikoptic commented on #20
done in 549e28b435e905ad3d80a5f31f768c52f905d491

[2020-06-25 15:01] satra commented on #36
everything pointed to requiring a backend server that run phantomjs, slimerjs, or some such to basically do a rendered html grab to get at the number of participants in the room.

[2020-06-25 15:05] yarikoptic commented on #38
Just add a column (field in .json) and it will participate in search!

Should be really easy to add, thank you @nicholst for the script!   we could save that additional tsv and since poster number is there -- would be easy to add as already done for PDFs as of #27.

Anyone (@effigies @nicholst @rmarkello ) has interest/time to push this forward or should I (but later a bit)?

[2020-06-25 15:08] effigies commented on #38
I'll post here if I start on this. Have a couple other things I need to get to first. :-)

[2020-06-25 15:11] yarikoptic commented on #36
yes, some service, which **very gently** pokes at those rooms and updates some .json which our main.js (re)loads once in a while and updates entries with availability.
But even with a gentle poking I am afraid it might quickly run into some guards of a public  meet.jit.si due to inhuman number of connections in its period of time.

[2020-06-25 15:12] yarikoptic commented on #36
it could be "crowd sourced" though, if main.js does query for rooms of interest of that visitor (some explicit button/url for each row), pings our service which centralizes collection of that information (with "last-updated" field), which in turn is consumed by main.js to display all known so far information ;)

[2020-06-25 15:15] effigies commented on #36
@yarikoptic Would it be possible to throw together a Firefox/Chrome extension where participant could report back?

[2020-06-25 15:29] yarikoptic opened #42 "FOI: HOW TO ADD ACKNOWLDEGEMENT (via allcontributors)"
[Edited by Adina for max visibility]
### How to acknowledge:

[code]
### Contribution types

Emoji/Type | Represents | Comments
-- | -- | --
🔊  audio | Audio | Podcasts, background music or sound effects
♿️  a11y | Accessibility | Reporting or working on accessibility issues
🐛  bug | Bug reports | links to issues reported by the user on this project
📝  blog | Blogposts | links to the blogpost
💼  b

[2020-06-25 15:31] yarikoptic commented on #36
that sounds like a big effort. you think it cannot be done purely via JS? an extension would increase the burden to "contribute".

[2020-06-25 15:32] yarikoptic commented on #36
may be @soichih or @vsoch have some immediate ideas on howto do it at JS level?

[2020-06-25 15:43] adswa commented on #42
Let's try it out.

Hey @all-contributors please add @christian-monch for code maintenance

[2020-06-25 15:46] adswa commented on #42
hey @all-contributors please add @yarikoptic for code infra maintenance ideas design projectManagement talk

[2020-06-25 15:49] adswa commented on #42
hey @all-contributors please add @nicholst for code ideas

[2020-06-25 15:52] rmarkello commented on #38
@yarikoptic can the additional field in the json be a list-of-string or does it need to be a single string to be searchable?

[2020-06-25 15:53] adswa commented on #42
I'm only quickly scanning PRs and issues to get an idea of the contributors and their contributions types. Please feel free to amend and add as you see fit. Adding additional contributions works by simply commenting with a new request for the bot - the additional contribution types will be added to the existing contribution overview. Here's a list of contribution types: https://allcontributors.org

[2020-06-25 15:54] vsoch commented on #36
Most of those booking websites that report current number of visitors are totally fake - I'm not sure how you would accomplish that without a server. What about number of views instead? This is used by journals and similar, and will (sort of) accomplish the same thing to show viewership https://api.altmetric.com/embeds.html.

[2020-06-25 15:55] adswa commented on #42
hey @all-contributors please add @effigies  for code ideas maintenace

[2020-06-25 15:58] adswa commented on #42
hey @all-contributors please add @rmarkello for code ideas

[2020-06-25 16:01] yarikoptic opened #51 "THANK YOU Everyone who contributed"
I just want to channel gratitude from Mylene Henry from private chat of OHBM:

Thank you very much for making the posters accessible in an easy fashion - very much appreciated!

So thank you @effigies @rmarkello et al!

[2020-06-25 16:01] effigies commented on #42
Hey @all-contributors please add @adswa for maintenance

[2020-06-25 16:02] adswa commented on #42
edited the top comment with instructions.

[2020-06-25 16:06] vsoch commented on #36
As a user I wouldn't have incentive to install some custom extension for reporting.

[2020-06-25 16:15] yarikoptic opened #53 "Video demonstrations rooms"
That session is even worse than posters since it is a mix of videos and PDFs, some duplicated etc... I wondered if we could get second page with a table for those with minted rooms?

[2020-06-25 16:18] yarikoptic commented on #36
Note: if implemented, server should keep the log of visitations, so we could have displayed when people did come/hangout.

[2020-06-25 16:20] effigies commented on #42
Thanks, @adswa. This is great!

[2020-06-25 16:21] yarikoptic commented on #53
may be it is a non-issue really since probably many (if not most) software demos have posters as well, so people do use the same rooms: see e.g. https://twitter.com/SteMoia/status/1276186840505233409?s=20, but might be useful to annotate explicitly.  ATM search for "software" returns 13, "demo" returns 6 entries

[2020-06-25 16:26] christinerogers commented on #53
It's definitely an issue ! (not a non-issue)
I was coming here to file this...  since we don't have a separate poster && not listed in this repo currently.
Upvote 👍  and how can I help?

[2020-06-25 16:28] christinerogers commented on #53
@yarikoptic  here's the specific SoftwareDemo needing a Jitsi link: `qEEGT-CBRAIN for Open Science` author: Bosch-Bayard
https://cdn-akamai.6connex.com//645/1827//OHBM_Qeegt-Cbrain_Poster_2020_15922367208559419.pdf

[2020-06-25 16:39] soichih commented on #36
I can try setting up a websocket server that can keep up with most recently visited users. Then on client side we can subscribe and show counts that updates dynamically? Maybe I can do that in an hour or so..

[2020-06-25 16:49] yarikoptic commented on #53
ok, since I do not expect OHBM adjusting that spreadsheet we already use, and to avoid code tuning, I will add this one to original spreadsheet.
I guess poster number 2020 is not pertinent to OHBM since we do have 2020 poster "A robust processing pipeline for source estimation to MEG spikes"

[2020-06-25 16:51] yarikoptic commented on #53
grr though -- we would need code tune up to make it happen due to crummy dirty @yarikoptic 's code .  I will just initiate an additional .json with software demos records we would merge in.  They will have index starting at 10000 ;-)

[2020-06-25 16:58] christinerogers commented on #53
thanks!

  "poster number" for this software demo is: 2781  (not 2020 :)
`qEEG` ... is the demo name -  a PDF was uploaded for it (that's what that link was)

[2020-06-25 17:21] yarikoptic commented on #53
ran out of time for a PR /review, pushed a tentative solution directly with 2781 added.  New additions should go to SoftwareDemos.tsv file

[2020-06-25 17:22] yarikoptic commented on #53
although -- will reopen.  W still need to auto-populate it.  PRs against spreadsheet wouldn't work -- conflicts, unless we prepropulate empty rows

[2020-06-25 17:59] soichih commented on #36
How about something like this?

![image](https://user-images.githubusercontent.com/923896/85773611-09bade00-b6ec-11ea-9fd9-ad9f596ce6f2.png)

[2020-06-25 18:05] vsoch commented on #36
So you are using web sockets, and have a running server?

[2020-06-25 18:13] soichih commented on #36
Yes. It's running on my dev server. I just sent a PR. The server is running, so you should be able to test it.

[2020-06-25 18:18] vsoch commented on #36
Oh cool! Well if you have a server, you can do anything that you like :) I don't know [how much truth there is to this](https://medium.com/@stestagg/stealing-secrets-from-developers-using-websockets-254f98d577a0) but I'd keep it in mind if this strategy is going to be used.

[2020-06-25 18:49] MrBurnst opened #56 "Additional link to presentation/website for poster"
Some people have pre-recorded a short presentation of their poster. would be nice to be able to link to that (or some other resource) in the list maybe? Should prob. be limited to one URL to avoid overflow though ...

[2020-06-25 19:09] yarikoptic commented on #51
and now we have a wonderful lineup in README thanks to amazing @adswa , so I will close this (issues are piling up ;))

[2020-06-25 19:09] #51 closed, assigned to nobody

[2020-06-25 19:33] soichih commented on #36
@vsoch that's intersting! Yeah, I've forgotten that ws:// wss:// doesn't provide CORS restriction. I am a bit old school so I don't normally run dev servers on my laptop, but I think this issue applies to *all* socket based servers - not just *web* socket. Although.. that any secret exchanged between dev client and dev server is probably limited to some dev content (no production key, real data, e

[2020-06-25 20:02] christian-monch commented on #4
Hi @yarikoptic  I think [PR #43 ](https://github.com/datalad-datasets/ohbm2020-posters/pull/43) should do what you intended. Works locally for me.

[2020-06-25 21:49] yarikoptic opened #58 "visitors counter resets to 0"
attn @soichih :  we deployed, counter did go to 1 (whenever only I joined), but never went higher and then got to 0  whenever others have joined.  We are still in gather.town by the pool if you decide to hangout with testing users ;)

[2020-06-25 22:25] katjaq opened #59 "Embed jitsi in the webpage: that should let us know when someone leaves a room"
Here's a simple repo showing how to embed many jitsies: https://github.com/r03ert0/manyjitsis

The code is basically:
[code]
which supposes there's a `div` with `id="jitsi"`.

[2020-06-25 23:33] soichih opened #60 "Are we allowed to post thumbnails of each posters?"
Do you think we are allowed to generate thumbnail image of all posters and post them through our site? @effigies 's poster will look like this for example..

![chris](https://user-images.githubusercontent.com/923896/85805540-a09e8f00-b71a-11ea-8e58-1761de3d1da6.png)

[2020-06-25 23:38] effigies commented on #60
Related #37.

If we're allowed to archive the posters, we should be able to thumbnail and/or preview them.

[2020-06-26 00:50] soichih commented on #60
I will follow up on #37

[2020-06-26 00:50] #60 closed, assigned to nobody

[2020-06-26 00:53] yarikoptic commented on #60
I think, if anything,  we would ask for forgiveness rather than for permission at this point.

[2020-06-26 00:53] soichih commented on #37
I agree thumbnails themselves might not give much info.. but I think it could help to create an atmosphere of being the real poster session? I am also a very visual person.. so for me thumbnails would probably help me to locate posters that I've seen before..

So I would give +1 to this!

[2020-06-26 01:17] yarikoptic commented on #59
Attn @soichih

[2020-06-26 01:18] soichih commented on #58
Oops.. that's an embarrassing bug.. I've fixed it!

[2020-06-26 01:19] yarikoptic commented on #58
Straight in master or backend script fix coming as a PR?

[2020-06-26 01:20] soichih commented on #58
The backend fix is already in place .. as it's just running on my dev server.

Actually, something is still not right about something.. I will have a look later tonight.

[2020-06-26 01:23] yarikoptic commented on #58
But please send changes later on here as well, happen we decided to deploy it centrally

[2020-06-26 02:15] soichih commented on #58
I've included the service side bug fixes with this PR https://github.com/datalad-datasets/ohbm2020-posters/pull/61

I couldn't recreate the problem I was seeing earlier. I think everything is good to go with this PR.

[2020-06-26 02:44] soichih commented on #59
@katjaq I ended up doing this to detect for someone closing the window

[code]

This seems to work.. but I will try the `JitsiMeetExternalAPI`approach if it doesn't work still. Thank you for letting me know about this API!

[2020-06-26 03:48] yarikoptic opened #62 "FOI: on attempt to make persistent jitsi sessions"
I thought to initiate a jitsi session (in a new chromium tab) for each known jitsi room to make them persistent (primarily for chat to persist)
.
For fun I have initiated on a nice development server:
[code]
I think it did manage to get to working state of 265th room but the (dunno what was happening in the overloaded browser ;))  next one didn't have my "bot" user when I logged in from the laptop

[2020-06-26 04:00] usadiqgriffin opened #63 "Change poster PDF to add link of video"
How can I change the poster PDF to add a link to a video description?
Or is there any other way to add video description?

[2020-06-26 05:15] r03ert0 commented on #59
awesome! we'll integrate that in [brainweb](https://brain-web.github.io/) as well. We started exploring using jitsi's data channel for allowing feedback (many other things could be done with it!). It would be wonderful if you guys were willing to keep pushing this with us after the OHBM meeting <3

[2020-06-26 05:37] usadiqgriffin commented on #56
Second this, would help a lot

[2020-06-26 08:13] reborn781025 opened #64 "Add poster link to poster 106"
Hi,
Can you help you add my poster link (https://cdn-akamai.6connex.com//645/1827//OM2020Poster_Rita_v5_15916834886448480.pdf)? My poster number is 106. Thank you.

[2020-06-26 08:14] yarikoptic commented on #37
+100 on atmosphere. Someone could probably even make a carousel above or below the table for the present in the table currently posters and bring out a bit bigger size for the hovered over poster?

[2020-06-26 08:15] nicholst commented on #38
Closed by #54 ... great work team!!

[2020-06-26 08:15] #38 closed, assigned to nobody

[2020-06-26 08:20] nicholst opened #65 "Paging is flakey - Option to "show all"?"
When paging through abstracts I find that, randomly, the page view will return to the first page.  Sometimes this is after clicking on a PDF, or sometimes just when scrolling through pages. (Very annoying when you've just moved through a dozen or so pages to find the topics you're interested in).

Maybe there is a way to have the "Show entries" menu include an "all" option?

[2020-06-26 10:01] sjdavenport opened #67 "Poster pdf"
Hi there, thanks for organizing all of this. Could you add this link (https://sjdavenport.github.io/talks/OHBM/ohbm2020.pdf) to my poster (1545) Estimation of smoothness and confidence regions for peak location using convolution random fields. Also would it be possible to rename it to Exact Voxelwise Inference using Random Field Theory? Thanks so much!

Best,

Sam

[2020-06-26 11:13] effigies commented on #20
## Screenshots to use in an updated README or CONTRIBUTORS.

1. Open posters-overrides.json

<img width="511" alt="Screen Shot 2020-06-26 at 07 10 27" src="https://user-images.githubusercontent.com/83442/85851214-46361a80-b77c-11ea-89c0-37fa28bc4c88.png">

2. Press edit (pencil) button:
<img width="347" alt="Screen Shot 2020-06-26 at 07 09 44" src="https://user-images.githubusercontent.com/83442/8

[2020-06-26 11:13] #67 closed, assigned to nobody

[2020-06-26 11:59] sofievdbos commented on #20
I've just created a PR (#69). Feel free to check it out! 😄

[2020-06-26 13:03] sofievdbos commented on #64
Done in #70!

[2020-06-26 13:34] #64 closed, assigned to nobody

[2020-06-26 14:22] soichih commented on #37
I've created Nx400 pixel thumbs of all posters. 1835 PNGs, around 300MB total. I think we can put them all under assets.. will it be a problem? I think I can reduce the total size down to 100MB-200MB if we use jpg and/or reduce the resolution.

I am thinking.. maybe we could lazy-load the thumbs on all records with reduced sizes (Nx150) and let user hover over to show the Nx400 size images. What d

[2020-06-26 15:19] yarikoptic commented on #37
We mustn't commit them to git here -- too big. What was your script/naming? Let's add to  a separate dedicated GitHub repo (later linked here as a subdataset) - I will create a new repo shortly for you to push into.
 I will finally get to work on adding PDFs to annex now, and then make those thumbnails reproducible...

[2020-06-26 15:22] yarikoptic commented on #37
https://github.com/datalad-datasets/ohbm2020-posters-thumbnails you had been invited @soichih

[2020-06-26 15:24] yarikoptic commented on #65
Yeah, we should do that - may be @soichih or @rmarkello know from top of the head howto best?

[2020-06-26 15:32] htwangtw commented on #63
People are working on a more detailed description. See PR #69 and issue #20.

[2020-06-26 16:05] rmarkello commented on #65
Done! See #74 :grin:

[2020-06-26 16:11] htwangtw opened #75 "`posters-overrides.json` did not overwrite video chat url"
On the current website, the video chats are the default jitsi rooms.
I picked a few from `posters-overrides.json` and `posters.json` to check. The values in these two files are correct, but the website display is not right. I am not entirely sure if this is just a delay of updating the website. I have refreshed the page several times over 5 minutes and the behaviour remains the same.
PDFs are bein

[2020-06-26 16:28] nicholst commented on #65
Awesome! Thank you! Can't wait to try it out.

[2020-06-26 16:34] #65 closed, assigned to nobody

[2020-06-26 16:35] yarikoptic commented on #65
deployed.

[2020-06-26 16:43] yarikoptic commented on #56
eh, it indeed should be possible technically... unfortunately without automated collection of those URLs we would be doomed to review/ fix/merge lots of PRs - additional burden I am not sure current contributors would welcome... could be crowd sourced -- e.g. an additional google spreadsheet we would import once in a while (e.g. each half day).  If interested -- initiate the effort?  or may be oth

[2020-06-26 16:46] yarikoptic commented on #75
oh, thanks!  I guess it was a side-effect of recent enhancement to track... yes
https://github.com/datalad-datasets/ohbm2020-posters/blob/gh-pages/assets/js/main.js#L229

mints urls instead of reusing ... I will look into fixing it now, and if I fail - will ask @soichih for help ;)

[2020-06-26 16:50] yarikoptic commented on #75
yes, I failed -- I realized that we store complete html reference in `videochat` field, so it needs to be parsed to extract URL and name of the room to be passed to `openJit`.  Dear @soichih - please help!!!

[2020-06-26 16:53] yarikoptic commented on #63
sorry -- for pdf we need url to pdf. if you would like to add additional video - see #56 . reopen if something not in existing issues

[2020-06-26 16:53] #63 closed, assigned to nobody

[2020-06-26 16:53] #62 closed, assigned to nobody

[2020-06-26 16:56] yarikoptic commented on #42
It is just awesome, thanks @adswa !  Closing now having made a mental note to consult this when I need to add more contributors

[2020-06-26 16:56] #42 closed, assigned to adswa

[2020-06-26 16:56] yarikoptic commented on #20
I will consider it addressed by #69

[2020-06-26 16:56] #20 closed, assigned to nobody

[2020-06-26 17:08] yarikoptic commented on #58
It seems it resets to 0 also when I simply reload the https://datalad-datasets.github.io/ohbm2020-posters/ page after going to some room, having it increment to 1, then reload the page -- count disappears.

[2020-06-26 18:35] soichih commented on #58
The way that we are tracking the visitor count is by monitoring when a user open a room from the list page, and monitoring if the room is closed or not. To handle a situation when someone closes the whole browser, I've added `beforeunload` hook so that it will mark those opened room as closed (as it will close the opened room as well) so that counter won't get stuck (although we have serverside co

[2020-06-26 18:54] soichih commented on #58
Looks like this approach works! I will get it implemented. I will also update the server side to work on the session id (page id actually).

[2020-06-26 19:19] soichih commented on #75
Ah, I forgot about this too. I will update my recent PR.

[2020-06-26 19:28] soichih commented on #75
Actually, I think I should wait for https://github.com/datalad-datasets/ohbm2020-posters/pull/43 to get merged before I touch this?

I am going to update those 6 "videochat" override entry to just contain the jitsi room name (except the one that uses zoom link - we need to implement something similar to what I did with https://github.com/datalad-datasets/ohbm2020-posters/pull/79 with that one. Or

[2020-06-26 20:15] htwangtw commented on #75
Yeah I think this is really not an emergency since there are only six entries.
Thanks for picking this up!

[2020-06-26 21:21] effigies commented on #58
I think this is resolved?

[2020-06-26 23:57] effigies opened #84 "Shorter than expected "Online" count"
In a group of 7, only shows 2. If we wait for a bit, the count drops further.

cc @soichih

[2020-06-27 01:36] soichih commented on #84
Did they all opened the room from our list page?

On Fri, Jun 26, 2020 at 7:58 PM Chris Markiewicz <notifications@github.com>
wrote:

[2020-06-27 01:41] soichih commented on #84
I just restarted the ws server and now I am seeing up to 8 people in the room.

![image](https://user-images.githubusercontent.com/923896/85911831-a6b56e00-b7f5-11ea-95e3-2772e86c7892.png)

There might be some issue with how I am broadcasting the update..

[2020-06-27 01:47] soichih commented on #84
I just noticed that.. if I have the online count sorted, 1) the whole table flickers when the data is updated 2) which makes it nearly impossible to change page number.. looking into this now.

[2020-06-27 04:02] yarikoptic commented on #75
I think this was fixed in the one of the last PRs.

[2020-06-27 04:02] #75 closed, assigned to nobody

[2020-06-27 04:03] yarikoptic commented on #58
I think so too. @soichih - please add "Closes #" statements in the commits or PRs which resolve a known to you issue. Cheers!

[2020-06-27 04:03] #58 closed, assigned to nobody

[2020-06-27 04:04] yarikoptic commented on #53
Ok, we have 38 entries now with a mark shown in "Demo" column

[2020-06-27 04:04] #53 closed, assigned to nobody

[2020-06-27 04:04] yarikoptic commented on #36
Implemented by amazing @soichih and tested in the field! ;)

[2020-06-27 04:04] #36 closed, assigned to nobody

[2020-06-27 04:05] yarikoptic commented on #4
Was done!

[2020-06-27 04:05] #4 closed, assigned to nobody

[2020-06-27 04:07] yarikoptic commented on #35
@soichih , if you feel bored, would be nice to add some "countdown" for each entry to the next session (there is only a handful of them left).  May be could be just 2 global countdowns (for odd and even) outside of the table to not overwhelm it.  Although, do software demos have dedicated time as well?

[2020-06-27 04:07] yarikoptic commented on #59
I think it was done by @soichih, so we are all set ! ;)

[2020-06-27 04:08] yarikoptic commented on #84
should be closed with a push of an updated backend script @soichih ?

[2020-06-27 04:17] yarikoptic commented on #42
Hey @all-contributors please add @bpoldrack for code userTesting

[2020-06-27 04:39] yarikoptic opened #89 "jitsi:// urls in the main page can't be just copied"
They least to the main index, so can't really be copy pasted

[2020-06-27 04:40] yarikoptic commented on #56
I think we should allow for "extra" field with a dict of additional  key: url pairs, so people could add anything they like. We could add them into the last column along with PDF link

[2020-06-27 04:42] yarikoptic opened #90 "Around 20 urls for PDFs are duplicated"
With @bpoldrack we started a branch with fixes, yet to be finished if not forgotten

[2020-06-27 04:43] yarikoptic opened #91 "Around 700 posters lack PDF URLs"
Not sure what we should do if anything, besides keeping accepting PRs where authors desire

[2020-06-27 04:44] yarikoptic commented on #12
If nobody beats me to it I think I will add github action over weekend - we do need it!

[2020-06-27 08:53] r03ert0 commented on #59
awesome!! \o/

[2020-06-27 14:54] r03ert0 commented on #59
Hello datafriends! we did a thing with @katjaq using your wss & data :)
We wanted to have an easier way of seeing who's connected and not. We made a screen with squares showing room occupancy (we also added the emoji feedback :p). Hope you'll like it! <3

https://brain-web.github.io/ohbm2020/index.html

[2020-06-27 15:08] effigies commented on #59
That is really cool. Do we know anything about the number blocks? Could we split it by category to make it easier to narrow down which green squares to check out?

Or possibly add a search filter that will reduce the blocks to matching posters?

[2020-06-27 15:24] r03ert0 commented on #59
yes! we could change the background colour to reflect the category, or add a filter base on the keywords. I'll try to recycle brainweb's community graph viewer to make a network of similar posters (and whether they are active or not :D)

[2020-06-27 16:20] yarikoptic commented on #59
abstracts.json already has bag of words for each abstract - might help to relate?
Coming from your ui to the room talks to soichis backend to announce count, right?
When you are ready (now?) we should add a list of alternative web UIs on top of our page.

[2020-06-27 16:43] #84 closed, assigned to nobody

[2020-06-27 17:34] yarikoptic opened #94 "Stale counts when viewed on the phone"
Android,
Opened the page (chrome), reloaded, sorted by online. Top was 12 (real - us yesterday), joined (went into jitsi app) -nobody, left and it went down to 11:

![Screenshot_20200627-133147](https://user-images.githubusercontent.com/39889/85928429-e4100f00-b87a-11ea-8b1f-c77fa8b0e9ab.png)

[2020-06-27 17:53] r03ert0 commented on #94
these are the posters I see having residual counts: 715, 758, 898, 900, 1260, 1353, 1914, 1939, 2038, 2179
earlier today, poster 1939 had count=7, now it's at count=11...

[2020-06-27 18:31] r03ert0 commented on #59
now is good!

yes, I talk to @soichih's websocket, so that it doesn't matter which UI people use to connect, the counts will be the same :)

(checking abstracts.json, how cool!)

[2020-06-27 18:35] yarikoptic commented on #59
BTW, forgot to mention open project which I hoped would be our gather town but it is one man effort AFAIK, but might give good ideas etc: https://github.com/capnmidnight/Calla

[2020-06-27 18:35] yarikoptic commented on #59
I will reopen since we last discussion here...

[2020-06-27 18:39] r03ert0 commented on #59
how sweet!

[2020-06-27 19:13] katjaq commented on #59
wow! this is a lovely gather space! thanks for sharing @yarikoptic hehe, then we can have you on gathertown, on jitsi, on zoom, and on this lovely calla gather space! :D mindblowing! ;)

[2020-06-27 19:45] soichih commented on #94
I am guessing that beforeunload event is somehow not getting fired, or maybe some browser that doesn't quite have time to send the jitclose event. I've updated the room.html so that it will ping the server that client is still there (every 30 seconds), so that I can later update the serverside code to clean up the stale count if polling stops coming. Right now, I am keeping old counts up to 2 hour

[2020-06-27 19:55] luckykathy66 opened #96 "Poster 1728 has been linked with a wrong PDF file."
Hello,

I noticed that the poster 1728 has been linked with a wrong PDF file. The correct link is:
https://cdn-akamai.6connex.com//645/1827//Duan_OHBM_aNywayICA_1593047052006172.pdf
Can you help to correct it?

Thanks,
Kuaikuai

[2020-06-27 20:00] #96 closed, assigned to nobody

[2020-06-27 20:01] katjaq commented on #94
Done! :)
Thank you! @r03ert0 had the same idea and you have already implemented it! Boom :D 🔥

[2020-06-27 20:03] yarikoptic commented on #59
I have not tried calla for a while -- when I tried it was not yet ready, but if you try and see what/how to fixup -- we might end up indeed with our very own gather place!  Meanwhile -- added a quick reference to BrainWeb in 357b8c0c071cdbc58399f5b3b08aa9b8fc2598ae . Feel welcome to improve referencing/styling in the top of the page, whatever!

[2020-06-27 21:25] #94 closed, assigned to soichih

[2020-06-27 21:47] yarikoptic opened #101 "It is an issue really!!"
Hey @all-contributors please add @soichih  for code design ideas maintenance test

[2020-06-27 21:50] yarikoptic commented on #101
Hm, I insist
Hey @all-contributors please add @soichih for code design ideas maintenance test

[2020-06-27 21:51] #101 closed, assigned to nobody

[2020-06-28 01:12] soichih commented on #101
Thanks @yarikoptic !!

[2020-06-28 14:46] yarikoptic commented on #101
Pleasure was mine! ;-)

[2020-06-28 14:47] #89 closed, assigned to nobody

[2020-06-29 01:02] yarikoptic opened #107 "Remove DataLad or add more projects to new ui"
@soichih - thanks for keeping datalad logo in the be design but I think we should either remove it or add brainlife, con, and any other related to the contributors project ;-)

[2020-06-29 03:00] soichih commented on #107
Well, the page looks kind of boring without that logo.. :)

Also, you've been doing all that volunteering work so I think it's appropriarte to show who is behind it? I think I might sneak in brainlifelog next to it.. if you don't mind :) I don't think anyone would care that it's there though..

We should add other logos from other projects also!

[2020-06-29 03:19] yarikoptic opened #109 "in room.html version of jitsi invocation jitsi nickname does not persist"
I keep joining as anonymous, need to retype my nickname if I want to participate in chat.  I think it has smth with invocation of jitsi room via API vs just a URL (there even in a room where I have never been my known name is used).

[2020-06-29 03:45] yarikoptic opened #110 "vue interface: "auto loading""
New interface is awesome @soichih !  But loading all the posters into the page is really taxing on the browser.   I have little to no clue in howto but I know that it is possible to implement autoloading of "next" posters when you scroll down.
I vaguely remember that @akeshavan has done something like that in... OMG -- posters browser (or  recommendation engine) for OHBM201?.  What was it and wher

[2020-06-29 03:54] yarikoptic opened #111 "vue interface: where is brainlife?"
I see that it was added in
https://github.com/datalad-datasets/ohbm2020-posters/pull/108/commits/583c3b2ea294b3830f484abd34e4b9e4cd77950c#diff-d0b08210691d5d90ecf9d04a58ba5e7dR5
but I do not see it on https://datalad-datasets.github.io/ohbm2020-posters/index_beta.html#/

[2020-06-29 03:58] yarikoptic opened #112 "TODO: tweet about new UI available"
IIRC it is @soichih @emdupre and @rmarkello to praise?  Please assign yourself and tweet! ? ;)

[2020-06-29 04:01] yarikoptic opened #113 "Switch to new UI"
I think we should first

- [x] resolve #110 to make it just a bit more fluid
- [x] test it more
- ideally #116 to be resolved too but I am ok for the switch to happen without that
- [x] send a PR to
      - rename index.html to `index_orig.html`
      - rename `index_new.html` to index.html and may be somewhere a link to the old UI
      - provide `index_new.html` with a redirect to `index.html`

[2020-06-29 12:19] soichih commented on #110
Yep.. I've done little on the performance optimization.. I will do that this morning.

[2020-06-29 13:46] rmarkello commented on #112
As much as I'd _like_ to have been involved, all credit goes to @emdupre and @soichih !

[2020-06-29 14:31] emdupre commented on #112
Valentina beat me to tweeting, but I quote-tweeted to highlight @soichih's work !

https://twitter.com/emdupre_/status/1277610286443364353?s=20

[2020-06-29 14:53] yarikoptic commented on #111
fixed, probably by #115

[2020-06-29 14:53] #111 closed, assigned to nobody

[2020-06-29 14:53] yarikoptic commented on #112
I think with the tweets out we can close this one ;-)

[2020-06-29 14:53] #112 closed, assigned to nobody

[2020-06-29 14:54] yarikoptic commented on #110
I think #115 fixed it!

[2020-06-29 14:54] #110 closed, assigned to soichih

[2020-06-29 14:55] yarikoptic commented on #107
ok, brainlife is added, I will leave to others to add more projects as they will @emdupre @effigies @rmarkello @adswa via PRs

[2020-06-29 14:55] #107 closed, assigned to nobody

[2020-06-29 14:56] soichih commented on #111
I think the logo is there now? I think gh-pages's CDN is pretty slow to propagate.. so maybe that's what's causing it?

[2020-06-29 15:03] yarikoptic opened #116 "vue ui: for missing posters add a URL and change image"
ATM it just cycles back to the page, instead of going here into PRs, or may be better it should go into [edit overrides](https://github.com/datalad-datasets/ohbm2020-posters/edit/gh-pages/posters-overrides.json) page right away?  Also instead of gray square (also present while loading) - be some dedicated image (gray with "Submit a PR" phrase or alike)

[2020-06-29 15:22] soichih commented on #116
Something like..
![image](https://user-images.githubusercontent.com/923896/86024187-acc86c00-b9fa-11ea-9a55-df7f4d272316.png)
?
clicking it will go to the overrides.json edit page.

[2020-06-29 15:23] soichih commented on #113
I am going to switch index.html and index_beta.html around with my next PR!

[2020-06-29 15:28] soichih commented on #113
I missed this one >  "may be somewhere a link to the old UI". I will include it somewhere for the next round of update.

[2020-06-29 15:51] #113 closed, assigned to nobody

[2020-06-29 15:51] #116 closed, assigned to nobody

[2020-06-29 15:54] yarikoptic opened #119 "make names, categories, etc in poster items to be "fed" into search to limit posters for chosen "thing""
that would make navigation of the posters collections even better and should be quite easy to do I guess for those who know JS/vue ;-)

[2020-06-29 15:57] yarikoptic opened #120 "Move "Video Chat" to appear when hovering over poster preview (at the bottom of it?)"
- may be also with an explicit PDF icon as well -- I already went to some PDFs when I actually wanted video chat
- also will be needed for #119 to work properly (ATM it would occlude an author)

[2020-06-29 16:02] yarikoptic commented on #116
yeap yeap, thanks!

[2020-06-29 16:04] soichih commented on #119
The search filter should be searching across most of those fields already. Maybe it's not working right?

The way it works is that.. search text will be split into "search token", then for each token find posters that matches all tokens somewhere in the poster information.

https://github.com/datalad-datasets/ohbm2020-posters/blob/gh-pages/ui/src/components/Home.vue#L227

Oh, and the whole thing i

[2020-06-29 16:05] yarikoptic commented on #111
nah, I think I tested locally as well -- likely smth else which was resolved (e.g. via recompile or whatnot)

[2020-06-29 16:10] soichih commented on #119
Actually, it's not doing what I just described .. Looking now

[2020-06-29 16:14] soichih commented on #119
Fixed. I will work on the other items before rebuilding / sending PR

[2020-06-29 16:17] yarikoptic commented on #119
ok, may be PR would fix that (will wait for it to try), or may be I just have not described my desires well: have any phrase/author in each poster rendering to be "clickable" to feed the "search"..

[2020-06-29 16:21] soichih commented on #109
I am not having this problem using Google Chrome or Firefox on Ubuntu20

![image](https://user-images.githubusercontent.com/923896/86030690-cc639280-ba02-11ea-8571-a46da6e38819.png)

When I login, it shows "Fellow jitsi.." for like 1 seconds and get automatically reset to my name. Are you using any plugin / privacy protection type features?

[2020-06-29 16:23] soichih commented on #119
Oh~ I get it now.. I will add that mechanism.

[2020-06-29 16:30] soichih commented on #119
Implemented. Looking for other ones..

[2020-06-29 16:34] yarikoptic commented on #119
I am refreshing PRs page every minute ;)

[2020-06-29 16:37] soichih commented on #119
Sorry, I've been staring at this > https://github.com/datalad-datasets/ohbm2020-posters/issues/120 for the last 5 minutes.

[2020-06-29 16:37] yarikoptic commented on #109
Great to hear that it generally works! For me it just keeps saying "me"... I wonder if any of those messages in the console be relevant somehow:
[code]

[2020-06-29 16:38] soichih commented on #120
So.. you want a dedicated button to open the PDF? Instead of letting user click on the thumbnail?

[2020-06-29 16:41] yarikoptic commented on #109
ok -- it seems to be cookies!  Because it is external services, chrome did block cookies from jit.si and meet.jit.si -- I had to explicitly allow and then my name started to persist... I guess if someone else complains, we would need to start a FAQ. Closing for now

[2020-06-29 16:41] #109 closed, assigned to nobody

[2020-06-29 16:48] yarikoptic commented on #120
yes, to make it more obvious and consistent.  FWIW -- underlying image could still have "open PDF" action ;-)

[2020-06-29 16:49] yarikoptic commented on #120
but that might interfere abit with imprecise clicks on "Video Chat" so might be better just to be explicit.  Possibly other actions could be added later ("Join Chat") or just in the future ;-)

[2020-06-29 16:50] yarikoptic commented on #120
Also people asked (#63 ?) for additional "media" to be linked like videos - might be the right place to add

[2020-06-29 16:54] soichih commented on #120
OK. I will update to this for now.

![image](https://user-images.githubusercontent.com/923896/86033828-907efc00-ba07-11ea-9a31-750bd70f538c.png)

[2020-06-29 17:16] yarikoptic commented on #120
Well, one of the points was to avoid covering Authors, and "Video Chat" in above would still do that.  Why not to move it to appear above poster image?

[2020-06-29 17:40] soichih commented on #120
OK. I will rearrange things a bit

[2020-06-29 18:30] yarikoptic commented on #120
fixedin #121

[2020-06-29 18:30] #120 closed, assigned to nobody

[2020-06-29 18:31] yarikoptic commented on #119
done in #121

[2020-06-29 18:31] #119 closed, assigned to nobody

[2020-06-29 18:32] yarikoptic opened #125 "Add "Clear filters" to search "box" (not edit box, although could be there I guess)"
Follow up to #121

[2020-06-29 18:54] soichih opened #127 "Allow presenter to set a "note"?"
I've seen some presenter leaving the chat session opened with a note saying something like

via presenter writing something on the screen and screensharing it (and leave the video chat running).

I think it would be great if we could something similar through our dashboard.. although I am not sure how to do anything like that.

[2020-06-29 19:50] yarikoptic commented on #127
yeah, would be nice -- but I have not found any "ready" solution for jitsi yet ... not sure if mattermost wouldn't blow up with some 2k threads/rooms being added.  some other solution is needed. E.g. we could pre-mint some URLs on some other crowd note taking etc website.  It would be separate from jitsi.  I wonder if we could "inject" messages into jitsi chat upon initial login (when we know that

[2020-06-29 20:40] #125 closed, assigned to nobody

[2020-06-29 20:41] yarikoptic opened #131 "new UI: I believe it does not pick up overrides from posters-overrides.json"
discovered while testing merged #126 and #129

[2020-06-29 22:06] soichih commented on #131
Looking into this.

[2020-06-29 22:11] yarikoptic opened #135 "An alternative to "Yarik's amazing" name for **our** posters platform"
It was "mine" only for a short period of time, and current UI is definitely not mine ;)
I would like to contact OHBM asking to adjust that button (if still possible) and future references to our project to something else.  Any ideas?  e.g. could be "CONmazing poster viewing tool" to refer to the http://centerforopenneuroscience.org/ booth of which I host at OHBM... Could refer to open science SIG

[2020-06-29 22:27] adswa commented on #135
If you want to get your name out of it, how about replacing it with "OSSIG & friends"?
"OSSIG & friends' amazing poster viewing tool"
Or:
"OS-SIG & friends' grass-root-initiative poster registry"
Or (my favourite, but too snarky :wink:)
"Click here for something that actually works well"

[2020-06-29 22:49] soichih commented on #131
So far I haven't found any smoking gun. What issue are you seeing @yarikoptic?

I did notice, however, that the poster 147's pdf override is using a link to github page link - rather than the actual pdf file itself - so the .pdf is actually .HTML from github.

[2020-06-29 23:14] yarikoptic commented on #135
;-) but probably ideally it should be shorter, not longer than what it is now.  Could also be some amalgamation of participated projects/entities, e.g. "DataLife Posters Registry" or "BrainLad Posters Registry" ;)

[2020-06-29 23:18] yarikoptic commented on #135
or just "Posters Open Virtual Portal" (since it is not just about viewing and not a tool)

[2020-06-29 23:20] yarikoptic commented on #131
hm, when I looked at it - overrides for poster 1186 were completely absent.  They are visible to you if your test locally having that PR branch merged into current gh-pages?

[2020-06-29 23:22] yarikoptic commented on #131
re .pdf: there is a number of such ones which I will just have to ignore while preparing PDFs collection:
[code]
although some of them might be redirects to actual .pdf -- didn't check, basing my decision solely on the url

[2020-06-30 01:18] yarikoptic commented on #131
I do see PDF for 1186 now, so either it was a fluke or slow CDN or whatever

[2020-06-30 01:18] #131 closed, assigned to nobody

[2020-06-30 01:22] yarikoptic opened #138 "some pdf previews need explicit "white background""
see e.g. 1559 1925

[2020-06-30 02:24] effigies commented on #135
Gallery (by Open-Science SIG) of Interactive Presentations (GOSSIP)

[2020-06-30 02:43] effigies commented on #135
Some more:

* DataLife Interactive Poster Hall - DIPH (diff)
* DataLife Online Poster Hall - DOPH (doff)
* Scientific Online Poster Hall and Open Meeting Rooms - SOPHOMR (sophomore)
  * Could fiddle with this for aesthetics. SOPHMR probably works better. I can't see how to get all the way to SOPHOMORE.
* BrainLad/CON Listing of Interactive Posters - BLIP/CLIP
* Open Poster Interactive Environment

[2020-06-30 03:46] soichih commented on #135
Clever! I like CLIP. It's snappy! And DOPE is just as good.

Although.. I really like "Yarik's amazing poster tool" :) I mean.. why not!?

On Mon, Jun 29, 2020 at 10:43 PM Chris Markiewicz <notifications@github.com>
wrote:

[2020-06-30 05:23] yarikoptic commented on #135
@effigies -- now I feel sad to suck this badly -- you came up with so many good ones! Bravo!  I like many of them for their wit.  SPSS -- just love it.  Sure thing CLIP and DOPE are also fun.  But GOSSIP is meaningful but itself, and has an expanded name which could outlive this particular OHBM ;-)  SOPHOMR - also super nice... let us sleep on all the wonderful choices we have now ;)  Should we ma

[2020-06-30 05:26] yarikoptic commented on #135
replacing Poster with Presentation would just put the final nail into the coffin - just add session times (may be crowdcast instead of jitsi for those but we could run our own jitsi with policies set), chat we will come up with, export of the calendar, and tada -- we have a complete, albeit simplistic, system for a conference! ;)

[2020-06-30 05:42] nicholst commented on #135
+1 for "Gallery (by Open-Science SIG) of Interactive Presentations (GOSSIP)" and anything that references OS-SIG as I do feel that is a thread that links many contributors.

[2020-06-30 08:40] bpoldrack commented on #135
Somehow I doubt anybody but you cares for the first aspect and I can fix the second one:
"Yarik's incredible poster engagement environment" - YIPEE ;-)

Otherwise: +1 for GOSSIP

[2020-06-30 11:45] yarikoptic commented on #135
Thanks @bpoldrack ! Now I do have a name for some next project if yippe is overwhelmed by gossip

[2020-06-30 11:56] yarikoptic opened #142 "Simplify or template, and reduce to bold markdown checboxes"
- [ ] I didn't paste fields I don't need changed
- [ ] I didn't forget add , in previous line (if you did, that is ok, add and push 1 more commit)

[2020-06-30 18:49] yarikoptic opened #144 "damn yarik and his git-annex caused annexing of web UI assets etc"
those cannot work I believe with gh-pages now.

[code]

Dear @soichih,  Please `git annex unannex` those files and commit them directly to git.  I just pushed e54a711a1994fcffbf49c81ac4ed904ad98bb4f8 so `git add ` and even `git annex add` should add them to git if you perform unannex after updating your gh-pages branch to that state.  Then also git add `.noannex` file and do `git annex uninit` --

[2020-06-30 19:04] yarikoptic commented on #127
Hey -- what about etherpad? I have not used it actively but people do!  Should be easy to premint all pages like https://etherpad.wikimedia.org/p/OHBM2020-1-comments .  There might be an API to initiate them all nicely and consistently and fetch into a git repo alongside the PDFs? (that one is coming shortly)

[2020-06-30 19:08] yarikoptic commented on #127
everything needed seems to be possible according to the docs: https://etherpad.org/doc/v1.7.0/#index_what_can_i_do_with_this_api

[2020-06-30 19:19] yarikoptic commented on #127
re jitsi:
-  may be we could adjust our JS where we start the room to listen on the chat messages and archive them in the etherpad?  https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-iframe says that it is possible to add event notification on endpointTextMessageReceived  .

The only immediate "problem" I see, since there is no "authoritive visitor" -- is that not everyone probably should

[2020-06-30 20:22] soichih commented on #127
Oh~ etherpad looks very useful!

So.. are you thinking something like displaying the etherpad below the
jitsi video? I think we can put pdf and etherpad together to make it look
like this

[image: image.png]

On Tue, Jun 30, 2020 at 3:19 PM Yaroslav Halchenko <notifications@github.com>
wrote:

[2020-06-30 20:25] soichih commented on #127
Oh, and there is also a chat built into etherpad!

![image](https://user-images.githubusercontent.com/923896/86173541-21c89e00-baee-11ea-976b-3ca77eba89d5.png)

I can prototype this in like 10 minutes.. should I?

[2020-06-30 20:25] soichih commented on #127
And we could *disable* chat on the jitsi (to encourage people to use etherpad)?

[2020-06-30 20:44] soichih commented on #144
I still see those files on gh-pages ?

I am probably not understanding the problem, but are you saying those files disappeared from gh-pages somehow??

[2020-06-30 20:49] yarikoptic commented on #127
Some PDFs on some systems mightn't load into. Screen share navigation by speaker might be more useful. But if all those panes could collapse or resize - perfect!
Also there is still emoticons to be added/merged... May be that pane could control what to see... You know better :-)

[2020-06-30 21:16] soichih commented on #127
Oh, I see. I didn't think about presenters sharing the screen. Or even the
visitors. Yeah, we could add splitter so they can control what to see..

On Tue, Jun 30, 2020 at 4:49 PM Yaroslav Halchenko <notifications@github.com>
wrote:

[2020-06-30 21:18] yarikoptic commented on #144
check the content of any of those files -- it will be a "git link" which `grep` output above shows.

[2020-06-30 21:41] yarikoptic commented on #144
it is binary files committed into git annex in "unlocked" mode.  They will be "real files" (not symlinks, like in the regular "locked" mode) if you do `git annex get` on them.

[2020-06-30 21:53] yarikoptic commented on #138
ok, now we have https://github.com/datalad-datasets/ohbm2020-posters-pdfs datalad dataset with all PDFs it could obtain under annex.  I now want to (re)generate all previews within https://github.com/datalad-datasets/ohbm2020-posters-thumbnails having this pdfs dataset as a subdataset -- YODA all the way ;)  I will send a PR there and while at it, I will look to address this background issue. attn

[2020-06-30 22:20] yarikoptic commented on #135
So, top candidates in alphabetical order:

- :+1:  CLIP: CON Listing of Interactive Posters
- :eyes: DOPE: Data(Lad/Brain)Life Open Poster Environment
- :rocket: GOSSIP: Gallery (by Open-Science SIG) of Interactive Presentations
- :heart:  SOPHOMR: Scientific Online Poster Hall and Open Meeting Rooms
- :smile: YIPEE: Yarik's incredible poster engagement environment

so may be we could run a quick

[2020-06-30 22:43] effigies commented on #135
I feel like we should decide in house. Mostly because I think, on Twitter, whimsy among the disinterested will gravitate toward YIPEE. I'm okay if it goes that way, but it's the Boaty McBoatface of the set, which makes it feel forgone in a general poll.

[2020-06-30 23:09] emdupre commented on #135
I'm also +1 on polling in-house, though I'd add that if we're leaning towards a name with OSSIG in it we should probably ask the OSSIG that it's ok with them, just to be sure :smile_cat:

[2020-06-30 23:32] yarikoptic commented on #135
ok, inhouse then it is -- updated list above with icons - please vote

[2020-06-30 23:33] yarikoptic commented on #135
multiple votes are ok with me, unless you decide that they are not ;)

[2020-07-01 00:15] yarikoptic commented on #138
FWIW -- fix is to add `-flatten` since `-background` is just a modifier... I am regenerating them all but we might want to rewrite history there to get only new ones in objects or it would be too large.  BTW -- where do we use big ones?

[2020-07-01 00:36] soichih commented on #144
Oh I see. Sorry I am slow.

I am seeing this error message.

[code]

and on another machine

[code]

I am not sure if I can help you there?

[2020-07-01 02:45] yarikoptic commented on #144
oh -- twice my bad: I looked only at the last commit belonging to you so assumed that it was you who fell into the trap, but it was originally me!
[code]
I will fix it up tomorrow ;)

[2020-07-01 04:12] yarikoptic commented on #135
Thanks everyone! So let's ask ossig people, I guess just the committee?

[2020-07-01 08:01] sofievdbos commented on #135
I guess we can ask the committee chair & ask her who all the OSSIG people are? :)

[2020-07-01 08:06] Remi-Gau commented on #135
We listed them here. :-)

https://ossig.netlify.app/

Do you want me to bring this issue to their attention in our mattermost channel?

[2020-07-01 11:04] effigies commented on #135
That might be quickest.

[2020-07-01 13:31] yarikoptic opened #153 "Some wrong attendance counts might be from mobile"
I think I have tried to show from the phone and it incremented but didn't decrement since I think I didn't actually start app

[2020-07-01 13:32] yarikoptic opened #154 "Bunch of wrong attendance numbers"
I think nobody is in any room, but we have non 0 counts. Hard reset to 0?

[2020-07-01 14:17] yarikoptic commented on #135
@Remi-Gau did you do it or should I ?

[2020-07-01 14:36] emdupre commented on #135
I checked in and there's some light concern that the OSSIG officers weren't heavily involved, so they don't want to take over the branding. There was a suggestion to replace "SIG" with "Community" -- so GOSCIP. Not quite the same, but I still like it !

[2020-07-01 14:55] soichih commented on #154
They are non-0 because we are receiving keepalive from various users still. If we reset them to 0, it will just go right back again. We also have code that automatically purges stale client IDs. So if client fails to send the jitclose, it should be removed within 60 seconds.

I am hoping that.. with PR #150, once *everyone* refreshes their pages, we should no longer see those phantom counts - caus

[2020-07-01 15:02] effigies commented on #135
Open Science...

* Syndicate
* Society
* Synod
* Soviet
* Sympathizers
* Subculture
* ...?

Can also move to Z to be sure it's pronounced with a sibilant rather than a plosive:

* Zealots

[2020-07-01 15:04] #12 closed, assigned to nobody

[2020-07-01 15:11] yarikoptic opened #157 "basic recommendation system"
We have one more poster session to go so it could still be useful

I think poster presenters still do not quite get the fact that there would be little to no attendance if everyone just stayed by their own poster. I think it would be useful to recommend them some to go visit while they are at theirs  waiting for visitors. Thus particularly relates to #127 - if there was some listing of posters rel

[2020-07-01 15:12] yarikoptic commented on #157
note: potentially better metric for a presenter could be the overlap with keywords from all his/her posters

[2020-07-01 15:15] #142 closed, assigned to nobody

[2020-07-01 15:26] yarikoptic commented on #135
thanks for suggestions @effigies ... Anything else but SIG goes away from the original purpose of this acronym unless we establish one more "community" or SIG.
If anything, I would then prefer it being associated with [CON](http://centerforopenneuroscience.org/) (and thus without explicit Y in it) to which I invite all of you who participated to "join" to be listed among collaborators: http://cent

[2020-07-01 15:26] yarikoptic commented on #135
could be `con/ference` ;-)

[2020-07-01 15:28] yarikoptic commented on #135
oh hoh: https://www.urbandictionary.com/define.php?term=ference

ference - a word used after a simple statement showing that all is well.
(not to be overused)
the international sign is represented by taking your pointer finger and thumb and smashing them together.

So it even comes with a "LOGO"

[2020-07-01 15:37] soichih commented on #153
Unm... I wasn't aware that mobile version woul ask user before it opens the meeting room..

![Screenshot_20200701-104128](https://user-images.githubusercontent.com/923896/86263239-f21da280-bb8e-11ea-8b6e-f2a7ffd86608.png)

What this means is that.. we need to wait for user to actually enter the room, and start sending the ping.. which I think we can do by handling `videoConferenceJoined` event.. I

[2020-07-01 15:40] rmarkello commented on #135
I like `con/ference`!

(But it's probably best not to rely on Urban Dictionary definitions, especially given the recent attempts of white supremacists to [co-opt that hand gesture](https://www.adl.org/education/references/hate-symbols/okay-hand-gesture) 😒).

[2020-07-01 15:49] soichih commented on #138
I've regenerated all x200 thumbs with `-flatten layers`. There should no longer be a black background.

I've also wiped the histrory and removed x1200 thunmbs. `.git` is now 49M.

[2020-07-01 15:50] soichih commented on #154
Might be caused by #153

[2020-07-01 15:52] yarikoptic commented on #135
Ok, forget about that logo, although my tired brain took "smashing them together" not the same way as "make an O", but literally smashing together, so I thought it was different than Ok sign (which made little sense) ;)

[2020-07-01 15:54] yarikoptic commented on #135
so we would need just 2 more votes to beat YIPPE and then can announce it to be a `con/ference` ;)

[2020-07-01 15:55] effigies commented on #135
I'm good with con/ference.

[2020-07-01 15:56] yarikoptic commented on #135
@effigies please "vote" on https://github.com/datalad-datasets/ohbm2020-posters/issues/135#issuecomment-652486445 (I think better to not mix it into original poll)

[2020-07-01 16:07] soichih commented on #144
On my dev server (where I am running the web socket backend..) I am seeing some error message from git-annex.

[code]

I tried a few things to get gix-annex up-to-date, but so far I am not having much luck.

[code]

I have neurodebian installed, but it looks like git-annex is still coming from the ubuntu repo. Do I need to install it from the source?

[2020-07-01 16:10] yarikoptic commented on #138
Awesome! I will close this adding it is fixed, will check later

[2020-07-01 16:10] #138 closed, assigned to nobody

[2020-07-01 16:11] vsoch commented on #135
I am in full support of looking up the con- prefix in the dictionary and creating absolutely every possible software that might be a fun name!

[2020-07-01 16:18] Remi-Gau commented on #135
French speakers might have an interesting opinion about the `con` prefix but I am cool with it.

[2020-07-01 16:58] vsoch commented on #135
Haha, I just looked it up, oh dear! For spanish, it just means "with" so it's not so bad.

[2020-07-01 17:26] effigies commented on #135
I'm just going to keep doing this until Yarik closes the issue:

* GallOP - Gallery of Open Presentations
* GRIP - Gallery and Registry of Interactive Presentations
* DRIP - Dynamic Registry of Interactive Presentations
* FLIP/FLOP - FAIR Listing of Interactive/Open Presentations
* PLOS - Presentation Library of Open Science
* CLAMP - CON Listing of Active Media Presentations
* WOMP - WOMP Open Me

[2020-07-01 17:36] nicholst commented on #135
+1 for GallOP - Gallery of Open Presentations

[2020-07-01 18:10] r03ert0 commented on #154
done!

[2020-07-01 18:37] yarikoptic commented on #135
Damn you @effigies!  Please stop!  I love GallOP (might also be Gallery of Open Posters), I think it better reflects the platform ATM, and I think that if `con/ference` comes about it could use (or build atop) this component!  So the very final vote (@effigies - just click, don't type!!!)

- :+1: con/ference
- :heart: GallOP
- :smile: YIPPE (for the contrast and since it is was the closest next co

[2020-07-01 19:10] r03ert0 commented on #135
HOP: House of Posters (or Hall, but House...)

[2020-07-01 19:30] soichih commented on #154
@r03ert0

I just submitted this PR

I've made quite a bit of changes to room.html.. but basically, you can now send the actual count of participants as reported by the jitsi API (`api.getNumberOfParticipants()`) and if this is set, the server side will trust it as the actual participant count (ignore the unique IP list). This allows us to accurate report the number of participants including people

[2020-07-01 19:48] soichih commented on #157
I think that will be lovely! The presenter themselves can also curate such list themselves, right? They should probably be aware of other posters that they recommend checking out.

We could simply open up the etherpad when user clicks on the poster, and have the button to jump to video or open pdf. We can treat etherpad as a form of open-to-all white board. We should be able to do this pretty quic

[2020-07-01 20:07] #153 closed, assigned to nobody

[2020-07-01 20:17] yarikoptic commented on #135
Woohoo! congratulations -- decided "GallOP - Gallery of Open Presentations" it is.  I will quickly tune up header of README.md and inform OHBM, but repo for now will stay to not break anything ;-)

[2020-07-01 20:18] #135 closed, assigned to nobody

[2020-07-01 20:20] soichih commented on #135
Now we need a LOGO~

On Wed, Jul 1, 2020 at 4:18 PM Yaroslav Halchenko <notifications@github.com>
wrote:

[2020-07-01 20:37] yarikoptic opened #162 "As a basic smoke test for frontend"

[2020-07-02 02:35] yarikoptic opened #164 "add microdraw to alternative frontends?"
@satra pointed to https://microdraw.pasteur.fr/data?source=https%3A%2F%2Fmicrodraw.pasteur.fr%2Fohbm2020%2Fposters.json&slice=0

@r03ert0 approve?

[2020-07-02 15:51] effigies commented on #135
Should we rebrand the page to get GallOP on it before the final poster session?

[2020-07-02 16:26] effigies opened #165 "Consider HackMD over etherpad for persistent notes"
https://hackmd.io/ uses GitHub as a backend. This might make archiving conversations and/or adding useful metadata/corrections easier.

It's unclear to me how heavy of a lift this would be.

[2020-07-02 16:29] yarikoptic commented on #135
I would not fully rebrand (change title) but do reference GallOP where we point to this repo URL. Something like "Powered by GallOP"

[2020-07-02 17:27] yarikoptic commented on #144
oh sorry -- forgot to fix this one up.  I will do that now. there should be no "annex" in this repo - not needed/desired

[2020-07-02 17:33] yarikoptic commented on #144
pushed directly 2d366f2665c6ee3ac04a08d9f58b0d28ae8a5a36 to fix this and then also f87f6e2c1b8981ee0ec51f35f1cd6bbf679f9ff7 to add `.noannex` file.  Please 'git pull' into your clone and `git annex uninit`

[2020-07-02 18:27] soichih commented on #165
We could let the presenter *override* the default "note" URL with hackmd.io, githut page, just a static webpage? If they don't specify, then we can leave it to etherpad as etherpad.wikimedia.org can setup a new page on-the-fly?

[2020-07-02 18:31] effigies commented on #165
That would be a good way to test out alternatives before committing to a change.

[2020-07-02 18:42] yarikoptic commented on #165
Target use case?: If we could overlay notes on top of https://github.com/datalad-datasets/ohbm2020-posters-pdfs - where each poster has .pdf and -notes.txt -- would be awesome.  I would not make people manage their own git repos.

[2020-07-03 11:04] yarikoptic opened #166 "Consider single "name" for both jitsi and etherpad"
ATM Etherpad needs to have name entered separately from Jitsi.  In the future it might be worth a simple dialogue + cookie (or "auth via github or google") to store visitor's name upon initial visit to be "fed" into both systems for consistent presence/annotation

[2020-07-03 11:08] yarikoptic opened #167 "WE ARE DONE for OHBM 2020 AFAIK!"
Thanks once again to **all** contributors who made OHBM 2020 poster sessions a better place ;-)

Since it costs us nothing and etherpad notes can persist beyond the duration of OHBM 2020 - I guess we will just leave this repository in place as is, and if desire comes to develop it further for another use-case, we will "fork it" into a dedicated gallop (unfortunately gallop name on github is taken)

[2020-07-03 15:27] effigies commented on #127
This is achieved with etherpad. There are other issues for modifying configuration or enabling alternatives, so I will close this.

[2020-07-03 15:27] #127 closed, assigned to nobody

[2020-07-03 15:28] effigies commented on #144
Looks like this is resolved. Reopen if something left to do.

[2020-07-03 15:28] #144 closed, assigned to soichih

[2020-07-04 19:25] yarikoptic opened #168 "Provide COPYING (or LICENSE.md) file with information on copyright/licenses of content"

[2020-07-04 19:35] yarikoptic commented on #167
Since everyone (well me - and @effigies but at least there are no :-1:s ;-))  is already excited, I will close this non-issue!  Thanks again everyone!

[2020-07-04 19:35] #167 closed, assigned to nobody

[2020-07-04 19:46] yarikoptic opened #169 "Move (well -- copy/clone) to GallOP while retaining relevant history"
I think it could come useful for future events and/or for integration with other platforms

- [ ] Establish copyright/license statement (#168)
- [ ] rewrite history to make it cleaner and remove possibly encumbered content
   - Strip away all OHBM posters .tsv .csv .json files
   - provide and host an example with `posters.json` knowing to be "legit" (free content/metadata)
   - ideally strip away

[2020-07-04 19:54] yarikoptic commented on #154
I think @soichih has addressed many possible use cases and numbers became much more robust etc. Closing

[2020-07-04 19:54] #154 closed, assigned to nobody

[2020-07-04 19:59] effigies commented on #169
I have no objections to GallOP being under con/, and can't immediately think of a more appropriate alternative.

[2020-07-05 02:52] yarikoptic opened #170 "Provide installation instructions for jitsi room backend"
Could go to README.md, might be as easy as one line to run to install and run

[2020-07-05 21:03] #170 closed, assigned to soichih

[2022-01-13 03:05] vasudev-sharma opened #184 "Link Broken: Poster 1057"
Hi,

I'm the co-author of the **Poster - 1057** titled (_AxonDeepSeg: Automatic Myelin and Axon Segmentation Using Deep Learning_) and trying to access the [link](https://cdn-akamai.6connex.com//645/1827//ohbm2020_boudreau_FINAL_15921677822526191.pdf) as mentioned [here](https://github.com/datalad-datasets/ohbm2020-posters/blob/gh-pages/OHBM%202020%20Poster%20Numbering%20-%20AbstractsAdHocReport_2

[2022-01-13 03:13] effigies commented on #184
Nope. These were links into the ohbm-hosted poster site unless the authors provided an alternative. We didn't host the posters ourselves.

[2022-01-14 15:14] yarikoptic commented on #184
yes, unfortunately, as @effigies has mentioned we do not host/provide posters. I believe I have an archival copy of them somewhere though, but since "re-sharing" was not explicitly provisioned in terms of upload of posters to OHBM platform, can't reshare.

It might be worthwhile though to direct inquiry to OHBM committee to see if they do/can provide historical copies of the posters -- we could th

[2022-01-14 16:30] vasudev-sharma commented on #184
Thanks @yarikoptic @effigies  for the response. I will get in-touch with OHBM commitee for the same and will let you know the reply.

[2022-01-15 19:53] vasudev-sharma commented on #184
Unfortuantely, that's not possible. Hence, I'm closing the issue.

[2022-01-15 19:53] #184 closed, assigned to nobody